<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
    {% extends 'base.html' %}
    {%block content%}
    <p>Ola Mundo</p>

    {%endblock%}











   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    
</body>
</html>