{% extends 'base.html' %}

{%block content%}
    <form action="" method="POST">
        {{form.csrf_token}}
        <div class="form-group">
            <label for="">User Name</label>
            {{form.username(class="form-control",placeholder="Seu nome")}}
            {%if form.errors.username%}
            <div class="alert alert-danger" role="alert">
            <ul>
                {%for e in form.errors.username%}
                    <li>{{e}}</li>
                {%endfor%}
            </ul>
            </div>
            {%endif%}

        </div>
        <div class="form-group">
            <label for="">Password</label>
            {{form.password(class="form-control")}}
            {%if form.errors.password%}
            <div class="alert alert-danger" role="alert">
                {%for e in form.errors.password%}
                <ul>
                    <li>{{e}}</li>
                </ul>
                {%endfor%}
            </div>
            {%endif%}
        </div>

        <div class="checkbox">
            <label for="">
                {{form.remember_me}} Remember me
            </label>
        </div>
        <button type="submit">Enviar</button>
        {%with messages = get_flashed_messages() %}
        {%if messages%}
        <ul>
            {%for message in messages%}
            <li>{{message|safe}}</li>
            {%endfor%}
        </ul>
        
        {%endif%}
        {%endwith%}
    </form>
    





{%endblock%}